.scrollUp{}
.scrollUp:hove{}
.scrollDown{}
.scrollDown:hover{}
.scroller
{ 
	position: absolute;
	left: 4px;
	top: 28px;
	cursor: pointer;
	width: 5px;
	height: 34px;
	background-color: #7cc223;
}
.scroller:hover{}

.scrollBody
{
	width: 13px;
	min-height: 100%;
	cursor: pointer;
	background-image: url(../img/scroller_body.png);
}

.scrollBox
{
	float: right;
	width: 13px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #dcdcdc;
}