<section class="advantages" id="advantages">
  <div class="container">
    <div class="title">
      <h2>
        Наши преимущества
      </h2>
    </div>
    <div class="colection__wrapper">
      <div class="colection">
        <div class="colection__item">
          <div class="colection__block">
            <img src="img/001-vegetables.svg" alt="">
            <h3>
              Используем свежие натуральные <br>
              продукты
            </h3>
            <p>
              Максимально используем сезонные продукты <br>
              преимущественно российского производства <br>
              от сертифицированных поставщиков.
            </p>
          </div>
          <div class="colection__block">
            <img src="img/002-netdobavok.svg" alt="">
            <h3>
              Не используем пищевых добавок <br>
              и усилителей вкуса
            </h3>
            <p>
              Вместо химических добавок применяем <br>
              натуральные ароматные приправы и специи.
            </p>
          </div>
        </div>
        <div class="colection__item">
          <img src="img/colection-1.jpg" alt="">
        </div>
      </div>
      <div class="colection">
        <div class="colection__item">
          <div class="colection__block">
            <img src="img/003.svg" alt="">
            <h3>
              Разнообразное и сбалансированное меню
            </h3>
            <p>
              Чтобы Вашим сотрудникам не «приедалось» питание, <br>
              мы используем трехнедельный цикл, после окончания <br>
              которого, обновляем меню на 15 – 20%.
            </p>
          </div>
          <div class="colection__block">
            <img src="img/004.svg" alt="">
            <h3>
              Оформление  столовой  по корпоративным стандартам
            </h3>
            <p>
              Единая униформа, оформление залов, линия раздачи, <br>
              выкладка, наглядные плакаты и меню - всё выдержано <br>
              в едином корпоративном стиле компании «Мастер Фуд».
            </p>
          </div>
        </div>
        <div class="colection__item">
          <img src="img/colection-2.jpg" alt="">
        </div>
      </div>
      <div class="colection">
        <div class="colection__item">
          <div class="colection__block">
            <img src="img/005.svg" alt="">
            <h3>
              Управление качеством
            </h3>
            <p>
              Контроль работы столовой по разработанному <br>
              чек листу и стандартам HACCP.
            </p>
          </div>
          <div class="colection__block">
            <img src="img/006.svg" alt="">
            <h3>
              Безопасность
            </h3>
            <p>
              Трехступенчатая система контроля качества <br>
              и безопасности продукции.
            </p>
          </div>
        </div>
        <div class="colection__item">
          <img src="img/colection-3.jpg" alt="">
        </div>
      </div>
      <div class="colection">
        <div class="colection__item">
          <div class="colection__block">
            <img src="img/007.svg" alt="">
            <h3>
              Обратная связь
            </h3>
            <p>
              Ежеквартально проводим анкетирование Ваших <br>
              сотрудников, для повышения качества обслуживания.
            </p>
          </div>
          <div class="colection__block">
            <img src="img/008.svg" alt="">
            <h3>
              Искреннее внимание к Вашим потребностям
            </h3>
            <p>
              Наша цель многолетнее сотрудничество с клиентом, <br>
              которое достигается за счет внимания и оперативного <br>
              удовлетворения потребностей клиентов.
            </p>
          </div>
        </div>
        <div class="colection__item">
          <img src="img/colection-4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
