<section class="dining-room-screen">
  <div class="container">
    <div class="title">
      <h2>
        Столовые, которые мы <br>
        готовы организовать для Вас
      </h2>
    </div>
    <div class="tabs">
      <ul>
        <li>
          <div class="button button__dining">
            <a href="#one">Столовая полного цикла</a>
          </div>
          </li>
        <li>
          <div class="button button__dining">
            <a href="#two" class="active">Столовая доготовочного цикла</a>
          </div>
        </li>
        <li>
          <div class="button button__dining">
            <a href="#three">Столовая раздаточного цикла (буфет)</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="dining-room-screen__content">
      <div class="tabs__wrap" id="one">
        <div class="tabs__wrap_img">
          <img src="img/dining-1.png" alt="">
        </div>
        <div class="tabs__wrap_content">
          <h3>
            Столовая полного цикла
          </h3>
          <p>
            Необходимаяплощадь кухни: от 125 кв.м
          </p>
          <p>
            Кухня подразумевает организацию полного цикла приготовления
            блюд - от подготовки сырья до раздачи.Этот формат подходит
            для промышленных предприятий, государственных учреждений,
            а также для крупных фирм и бизнес-центров.
          </p>
          <h4>Преймущества:</h4>
          <ul>

            <li>
              большая пропускная способность помещения
            </li>
            <li>
              гибкая ценовая политика
            </li>
            <li>
              разнообразное меню, национальные кухни мира,
              домашняя выпечка и десерты
            </li>
            <li>
              организация VIP обедов для руководства компании
            </li>
            <li>
              проведение приемов, фуршетов, банкетов
            </li>
            <li>
              система лояльности клиентов, бонусные программы,
              возможность корпоративного питания по магнитным картам
            </li>
            <li>
              использование современных средств автоматизации
            </li>
          </ul>
          <div class="button button__dining-content">
            <a href="#">Оставить заявку</a>
          </div>
        </div>
      </div>
      <div class="tabs__wrap" id="two">
        <div class="tabs__wrap_img">
          <img src="img/dining-2.png" alt="">
        </div>
        <div class="tabs__wrap_content">
          <h3>
            Столовая доготовочного цикла
          </h3>
          <p>
            Необходимая площадь кухни: от 75 кв.м
          </p>
          <p>
            Организация питания в условиях ограниченных площадей. <br>
            Нет необходимости в разделочных и овощных цехах,
            что значительно сокращает и упрощает потребности
            в площадях на производстве. <br>
            На кухню поступают чищенные овощи и готовые
            полуфабрикаты из фабрики-кухни, при этом качество
            выпускаемой продукции остаётся неизменным.
          </p>
          <h4>Преймущества:</h4>
          <ul>

            <li>
              возможность оперативно обслуживать всех посетителей
            </li>
            <li>
              широкийа ассортимент блюд при ограниченных площадях
            </li>
            <li>
              организация VIP обедов для руководства компании с доставкой <br>
              в переговорную или кабинет
            </li>
            <li>
              система лояльности клиентов, бонусные программы
            </li>
            <li>
              использование современных средств автоматизации
            </li>
          </ul>
          <div class="button button__dining-content">
            <a href="#">Оставить заявку</a>
          </div>
        </div>
      </div>
      <div class="tabs__wrap" id="three">
        <div class="tabs__wrap_img">
          <img src="img/dining-3.png" alt="">
        </div>
        <div class="tabs__wrap_content">
          <h3>
            Столовая раздаточного цикла <br>(Буфет с раздачей)
          </h3>
          <p>
            Необходимая площадь кухни: от 15 кв.м
          </p>
          <p>
            Все блюда поступают из фабрики-кухни в готовом и
            охлаждённом виде по технологии Cook&Chill.
            Салаты и холодные закуски поступают не смешанные и не
            заправленные. На месте производится комплектование
            и заправка салатов, а также регенерация первых и
            вторых блюд. В зависимости от наличия посудомоечного
            цеха раздача горячей пищи производится в стеклянной
            или одноразовой посуде.
          </p>
          <h4>Преймущества:</h4>
          <ul>

            <li>
              минимум площадей, оборудования, электроэнергии
            </li>
            <li>
              возможностьвзятьблюдассобойвиндивидуальнойупаковке
            </li>
            <li>
              быстрый и простой запуск
            </li>
          </ul>
          <div class="button button__dining-content">
            <a href="#" class="form_open">Оставить заявку</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
