<footer class="footer">
  <div class="nav__wrapper">
    <div class="container">
      <nav class="footer_nav">
        <ul>
          <li>
            <a href="#info">
              О компании
            </a>
          </li>
          <li>
            <a href="#services">
              Услуги
            </a>
          </li>
          <li>
            <a href="#clients">
              Клиенты/Партнеры
            </a>
          </li>
          <li>
            <a href="#gallery">
              Галерея
            </a>
          </li>
          <li>
            <a href="#advantages">
              Принципы
            </a>
          </li>
          <li>
            <a href="#steps">
              Схема работы
            </a>
          </li>
          <li>
            <a href="#contacts">
              Контакты
            </a>
          </li>

        </ul>

      </nav>
      <ul class="social">
        <li>
          <a href="#">
            {{mixins.icon('vimeo-logo')}}
          </a>
        </li>
        <li>
          <a href="#">
            {{mixins.icon('facebook')}}
          </a>
        </li>
        <li>
          <a href="#">
            {{mixins.icon('twitter')}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="info__wrapper">
    <div class="container">
      <div class="info__block">
        <div class="info__item">
          <p>
            Мастер Фуд © 1995-2018
          </p>
          <p>
            Часы работы: 10:00 до 19:00
          </p>
        </div>
        <div class="info__item">
          <p>
            Адрес: г. Москва, 2-й Хорошёвский проезд, <br>
            дом 9, корпус 2
          </p>
        </div>
        <div class="info__item">
          <p>
            <a href="tel:+78002341655">
            +7 (800) 234-16-55
            </a>
          </p>
          <p>
           E-mail:
           <a href="mailto:office@masterfood.ru">
             office@masterfood.ru
           </a>
          </p>
        </div>
        <div class="button">
          <a href="#" class="form_open">Заказать звонок</a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright__wrapper">
    <div class="container">
      <a href="#"> Политика конфиденциальности </a>
    </div>
  </div>
</footer>
  {% include "partials/_modal.html" %}
<!--copyright Vlad Vorobei 2018-->
