<section class="form-three-screen">
  <div class="container">
    <div class="title title_form title_grey">
      <h2>
        Нужна консультация?
      </h2>
    </div>
    <p>
      Заполните форму, и наш менеджер свяжется с Вами в ближайшее время!
    </p>
    <form action="sendmail.php" class="form">
      <input type="text" name="name" placeholder="Ваше Имя" required>
      <input type="tel" name="tel" placeholder="+7 (_ _ _) _ _ _-_ _-_ _" required>
      <button type="submit" class="button" name="submit">
        Отправить
      </button>
    </form>
    <strong>
      Нажимая на кнопку, Вы соглашаетесь на обработку <a href="#">персональных данных</a>.
    </strong>
  </div>
</section>
