<section class="gallery" id="gallery">
  <div class="container">
    <div class="title title_grey">
      <h2>
        Галерея
      </h2>
    </div>
    <div class="slider-for imglist">
      <div class="slide">
        <a data-fancybox="gallery" href="img/Photo112.jpg">
          <img src="img/Photo112.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/Photo114.jpg">
          <img src="img/Photo114.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/Photo115.jpg">
          <img src="img/Photo115.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/img2015-5.jpg">
          <img src="img/img2015-5.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/img2015-1.jpg">
          <img src="img/img2015-1.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/img2015-2.jpgg">
          <img src="img/img2015-2.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/img2015-3.jpg">
          <img src="img/img2015-3.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/img2015-4.jpg">
          <img src="img/img2015-4.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/Photo013.jpg">
          <img src="img/Photo013.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/Photo016.jpg">
          <img src="img/Photo016.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/Photo017.jpg">
          <img src="img/Photo017.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/Photo019.jpg">
          <img src="img/Photo019.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/sbe9.jpg">
          <img src="img/sbe9.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/sbe10.jpg">
          <img src="img/sbe10.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/sbe23.jpg">
          <img src="img/sbe23.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/IMG_6581.JPG">
          <img src="img/img_1.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/IMG_6605.JPG">
          <img src="img/img_2.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/IMG_6618.JPG">
          <img src="img/img_3.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/IMG_6721.JPG">
          <img src="img/img_4.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/6.jpg">
          <img src="img/6.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/5.jpg">
          <img src="img/5.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/4.jpg">
          <img src="img/4.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/3.jpg">
          <img src="img/3.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/2.jpg">
          <img src="img/2.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/1.jpg">
          <img src="img/1.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="slider-nav">
      <div class="info">
        <strong>Буфет в автосалоне</strong>
        <p>
          Для сотрудников и посетителей.
          Открыт в 2014 году
        </p>
      </div>
      <div class="info">
        <strong>Буфет в автосалоне</strong>
        <p>
          Для сотрудников и посетителей.
          Открыт в 2014 году
        </p>
      </div>
      <div class="info">
        <strong>Буфет в автосалоне</strong>
        <p>
          Для сотрудников и посетителей.
          Открыт в 2014 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в бизнес центре</strong>
        <p>
          Для сотрудников и посетителей.
          Открыта в 2015 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в бизнес центре</strong>
        <p>
          Для сотрудников и посетителей.
          Открыта в 2015 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в бизнес центре</strong>
        <p>
          Для сотрудников и посетителей.
          Открыта в 2015 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в бизнес центре</strong>
        <p>
          Для сотрудников и посетителей.
          Открыта в 2015 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в бизнес центре</strong>
        <p>
          Для сотрудников и посетителей.
          Открыта в 2015 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в отеле </strong>
        <p>
          На 500 человек. Открыта в 2010 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в отеле </strong>
        <p>
          На 500 человек. Открыта в 2010 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в отеле </strong>
        <p>
          На 500 человек. Открыта в 2010 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в отеле </strong>
        <p>
          На 500 человек. Открыта в 2010 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая в офисном центре</strong>
        <p>
          на 700 человек
        </p>
      </div>
      <div class="info">
        <strong>Столовая в офисном центре</strong>
        <p>
          на 700 человек
        </p>
      </div>
      <div class="info">
        <strong>Столовая в офисном центре</strong>
        <p>
          на 700 человек
        </p>
      </div>
      <div class="info">
        <strong>Столовая на заводе</strong>
        <p>
           для 1000 человек. Открыта в 2014 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая на заводе</strong>
        <p>
          для 1000 человек. Открыта в 2014 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая на заводе</strong>
        <p>
          для 1000 человек. Открыта в 2014 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая на заводе</strong>
        <p>
          для 1000 человек. Открыта в 2014 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая</strong>
        <p>
          на фармацевтическом производстве на 200 человек. Открыта в 2010 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая</strong>
        <p>
          на фармацевтическом производстве на 200 человек. Открыта в 2010 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая</strong>
        <p>
          на фармацевтическом производстве на 200 человек. Открыта в 2010 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая</strong>
        <p>
          на фармацевтическом производстве на 200 человек. Открыта в 2010 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая</strong>
        <p>
          на фармацевтическом производстве на 200 человек. Открыта в 2010 году
        </p>
      </div>
      <div class="info">
        <strong>Столовая</strong>
        <p>
          на фармацевтическом производстве на 200 человек. Открыта в 2010 году
        </p>
      </div>
    </div>
  </div>
</section>
