<section class="gallery" id="gallery">
  <div class="container">
    <div class="title title_grey">
      <h2>
        Галерея
      </h2>
    </div>
    <div class="slider-for imglist">
      <div class="slide">
        <a data-fancybox="gallery" href="img/gallery-img-1.png">
          <img src="img/gallery-img-1.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/gallery-img-2.png">
          <img src="img/gallery-img-2.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/gallery-img-1.png">
          <img src="img/gallery-img-1.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a data-fancybox="gallery" href="img/gallery-img-2.png">
          <img src="img/gallery-img-2.png" alt="">
        </a>
      </div>
    </div>
    <div class="slider-nav">
      <div class="info">
        <strong>Столовая на 60 мест</strong>
        <p>
          г. Москва, 2-й Хорошёвский проезд, дом 9, корпус 2
          открытие в 2015
        </p>
      </div>
      <div class="info">
        <strong>Столовая на 160 мест</strong>
        <p>
          г. Москва, 2-й Хорошёвский проезд, дом 9, корпус 2
          открытие в 2015
        </p>
      </div>
      <div class="info">
        <strong>Столовая на 10 мест</strong>
        <p>
          г. Москва, 2-й Хорошёвский проезд, дом 9, корпус 2
          открытие в 2015
        </p>
      </div>
      <div class="info">
        <strong>Столовая на 60 мест</strong>
        <p>
          г. Москва, 2-й Хорошёвский проезд, дом 9, корпус 2
          открытие в 2015
          г. Москва, 2-й Хорошёвский проезд, дом 9, корпус 2
          открытие в 2015
        </p>
      </div>
    </div>
  </div>
</section>
