<section class="info-line">
  <div class="container">
    <div class="info-line__wrapper">
      <div class="info-line__logotype">
        <a href="#"><img src="img/logo.svg" alt=""></a>
        <h1>
          Вкусное и здоровое питание &laquo;под ключ&raquo;
        </h1>
      </div>
      <div class="info-line__link">
        <div class="info-line__link_contacts">
          <a href="tel:88002341655">8 (800) 234-16-55</a>
          <a href="mailto:office@masterfood.ru">office@masterfood.ru</a>
        </div>
        <div class="button button__info-line">
          <a href="#" class="form_open">Заказать звонок</a>
        </div>
      </div>
    </div>
  </div>
</section>
