<section class="leader-screen" id="info">
  <div class="container">
    <div class="title">
      <h2>
        &laquo;Мастер Фуд&raquo; ― лидер в сфере организации <br>
        корпоративного питания с 1995 года
      </h2>
    </div>
    <div class="leader-screen__content">
      <div class="leader-screen__item">
        <div class="img__wrapper">
        <img src="img/23year.svg" alt="">
        </div>
        <p>успешной работы</p>
      </div>
      <div class="leader-screen__item">
        <div class="img__wrapper">
          <img src="img/more100.svg" alt="">
        </div>
        <p>реализованных проектов <br>
          по открытию столовых <br>
          от проектирования до запуска</p>
      </div>
      <div class="leader-screen__item">
        <div class="img__wrapper">
        <img src="img/more1500.svg" alt="">
        </div>
        <p>наименований выпускаемых <br>
          блюд и полуфабрикатов</p>
      </div>
      <div class="leader-screen__item">
        <div class="img__wrapper">
        <img src="img/250-300ru.svg" alt="">
        </div>
        <p>средняя стоимость обеда</p>
      </div>
      <div class="leader-screen__item">
        <div class="img__wrapper">
        <img src="img/nodobavki.svg" alt="">
        </div>
        <p>Отсутствие пищевых добавок
          и усилителей вкуса</p>
      </div>
      <div class="leader-screen__item">
        <div class="img__wrapper">
        <img src="img/clientslike.svg" alt="">
        </div>
        <p>Нас любят клиенты</p>
      </div>
    </div>
  </div>
</section>
<section class="we-offer" id="services">
  <div class="container">
    <div class="title title_grey">
      <h2>
        Мы предлагаем:
      </h2>
    </div>
    <div class="we-offer__content">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="we-offer__item">
            <img src="img/we-offer-1.png" alt="">
            <p>
              Организацию столовой <br>
              на предприятии
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="we-offer__item">
            <img src="img/we-offer-2.png" alt="">
            <p>
              Организацию столовой <br>
              в бизнес-центре
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="we-offer__item">
            <img src="img/we-offer-3.png" alt="">
            <p>
              Организацию столовых в ВУЗах <br>
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="we-offer__item">
            <img src="img/we-offer-4.png" alt="">
            <p>
              Доставку готовых блюд в офис <br>
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="we-offer__item">
            <img src="img/we-offer-5.png" alt="">
            <p>
              Профессиональный аудит Вашей <br>столовой
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="we-offer__item">
            <img src="img/we-offer-6.png" alt="">
            <p>
              Консультации по организации питания <br>
              Ваших сотрудников
            </p>
          </div>
        </div>
      </div>






    </div>
    <div class="dish">
      <img src="img/dish2.png" alt="">
    </div>
  </div>
</section>
