<main class="main">
  {% include "partials/_leader-screen.html" %}
  {% include "partials/_form-screen.html" %}
  {% include "partials/_dining-room-screen.html" %}
  {% include "partials/_trasted.html" %}
  {% include "partials/_gallery.html" %}
  {% include "partials/_work-screen.html" %}
  {% include "partials/_advantages-screen.html" %}
  {% include "partials/_form-two-screen.html" %}
  {% include "partials/_steps-screen.html" %}
  {% include "partials/_reviews-screen.html" %}
  {% include "partials/_form-three-screen.html" %}
  {% include "partials/_map-screen.html" %}
</main>
