<section class="map-screen" id="contacts">
  <div class="container">
    <div class="title">
      <h2>
        Как нас найти
      </h2>
    </div>
    <div class="map" id="map">
    </div>
    <div class="map-screen__contacts">
      <h3>
        Адрес:
      </h3>
      <p>
        г. Москва, 2-й Хорошёвский проезд, <br>
        дом 9, корпус 2
      </p>
      <a href="tel:+78002341655">+7 (800) 234-15-55</a>
      <a href="mailto:office@masterfood.ru">office@masterfood.ru</a>
    </div>
  </div>
</section>
