<section class="reviews-screen">
  <div class="container">
    <div class="title">
      <h2>
        Отзывы
      </h2>
    </div>
    <div class="single-item">
      <div class="item">
        <h3>
          Бизнес - центр "Вика"
        </h3>
        <strong>
          20.07.2018
        </strong>
        <p>
          В нашем бизнес - центре мы каждый день завтракаем и обедаем в столовой Мастерфуд. Нравится свежая выпечка по утрам и недорогие и вкусные комплексные обеды. Раз в месяц проводятся дни национальной кухни . Мне особенно нравится грузинская кухня - очень вкусное лобио и чахохбили,
          а нашим девушкам итальянская кухня - особенно оссобуко и равиоли хорошо удаются . Просим Вас ввести в рацион смузи и почаще давать сельдь под шубой (можно каждый день), в целом всё нравится, многие и домой берут.
        </p>
      </div>
      <div class="item">
        <h3>
          Надежда Полежайкина
        </h3>
        <strong>
          18.07.2018
        </strong>
        <p>
          Здравствуйте! Мы работаем в Люберцах, компания Технотраст.У нас отличная столовая . С питанием вокруг целая проблема - ни одного приличного заведения и всё дорого и невкусно. Едим только в столовой !!!!! Уже целый год! Салаты свежие , супы очень вкусные . Особенно приятно - постное меню , тк я пощусь два-три раза в году. Гречневая каша с вешенками и постный суп горох - просто наотлично. Вобщем большое спасибо компании Мастерфуд- просто выручаете на с. Отдельное спасибо шеф-повару Ринату за день татарской кухни.
        </p>
      </div>
      <div class="item">
        <h3>
          Краснов Михаил
        </h3>
        <strong>
          25.06.2018
        </strong>
        <p>
          Большое спасибо всему коллективу столовой! Особенно шеф повару! Всё вкусно, красиво, большое спасибо!
        </p>
      </div>
      <div class="item">
        <h3>
          Пикарусь О.В
        </h3>
        <strong>
          21.06.2018
        </strong>
        <p>
          Добрый день! Хочу выразить благодарность сотрудникам столовой университета Витте за вкусный обед и хорошее настроение! Всё очень вкусно и по-домашнему.
        </p>
      </div>
      <div class="item">
        <h3>
          Аверьяненко Ирина
        </h3>
        <strong>
          05.06.2018
        </strong>
        <p>
          Выражаю благодарность лично повару за блюдо «Котлета из индейки», а так же «Котлета из говядины»! Очень вкусно, нежнейшее мясо! Спасибо всему коллективу!
        </p>
      </div>
      <div class="item">
        <h3>
          Коллектив уборщиц ООО «Технотраст»
        </h3>
        <strong>
          04.06.2018
        </strong>
        <p>
          Выражаем благодарность поварам за бесподобно вкусную еду. Особое спасибо шеф повару Дмитрию. С его приходом пища стала вкуснее и разнообразнее. Так держать!!!
        </p>
      </div>
      <div class="item">
        <h3>
          Горячева И.
        </h3>
        <strong>
          02.06.2018
        </strong>
        <p>
          Спасибо шеф-повару нашей столовой за отличные обеды и широкий выбор выпечки, а так же за вкуснейшие завтраки! Молодцы! Так держать!
        </p>
      </div>
      <div class="item">
        <h3>
          Сухова, Нестерова, Гудкова, Башкова
        </h3>
        <strong>
          16.05.2018
        </strong>
        <p>
          Спасибо большое за вкусный обед!!! Было очень вкусно, грузинская кухня удалась! Спасибо!
        </p>
      </div>
      <div class="item">
        <h3>
          Коллектив отдела Логистики
        </h3>
        <strong>
          16.05.2018
        </strong>
        <p>
          Уважаемые дорогие коллеги! Выражаю (ем) искреннюю благодарность за обед:а) Суп-пюре овощной пикантно, пикантно, послевкусие – сельдерей, нотки специйб) Рис дикий – прекрасно!!!в) Плов с курицей – очень вкусно, традиционно, с зирой!!!г) Выпечка вкуснейшая.д) Компот с облепихой +++
        </p>
      </div>
      <div class="item">
        <h3>
          Громова О.А
        </h3>
        <strong>
          15.05.2018
        </strong>
        <p>
          Спасибо огромное за вкусный обед! Котлетки супер, как у бабушки! Так держать!
        </p>
      </div>
      <div class="item">
        <h3>
          Коллектив Администрации
        </h3>
        <strong>
          22.08.2017
        </strong>
        <p>
          Благодарим за отличное обслуживание и очень вкусное питание. Всё очень-очень вкусно!!!
        </p>
      </div>
      <div class="item">
        <h3>
          Ломов Анатолий
        </h3>
        <strong>
          05.03.2016
        </strong>
        <p>
          Спасибо вам большое за организацию полноценной столовой с линией раздачи нанашем предприятии! Мы выделили помещение под нее, все обустроить нам помогли ваши специалисты. Раньше мы задумывались об открытии столовой, но как-то не могли найти подходящих специалистов в этой области. Ваша же компания помогла отладить все за короткий срок. В столовой питаются все сотрудники, функционирует она в ограниченные часы, как раз во время обеденного перерыва. Это очень удобно, теперь никому не нужно носить еду из дома или бегать в магазин через дорогу. Все успевают пообедать быстро, у нас даже производительность повысилась.
        </p>
      </div>
      <div class="item">
        <h3>
          Кирилл
        </h3>
        <strong>
          16.01.2016
        </strong>
        <p>
          День кавказской кухни понравился буквально всем! Блюда потрясающе вкусные, пирог сладкий, как говорится – высший пилотаж! А какой плов! Очень хотелось добавки! Так держать! Надеемся, вы еще будете нас баловать блюдами от шеф-повара. P.S. Баклажаны очень, очень... !!!
        </p>
      </div>
      <div class="item">
        <h3>
          Андрей Маркелов
        </h3>
        <strong>
          11.01.2016
        </strong>
        <p>
          Добрый день! Выражаю благодарность за вкусный обед. Первое блюдо, второе, салат, десерт — все очень понравилось, все очень вкусно. Порции хорошие, я наелся на весь день вперед. Вот это я понимаю — настоящий полноценный обед! Спасибо вашим поварам, что так вкусно готовят!

        </p>
      </div>
      <div class="item">
        <h3>
          Мария Колодина
        </h3>
        <strong>
          29.12.2015
        </strong>
        <p>
          Еще раз хочется сказать спасибо не только за вкусный обед, но и красивый) И, конечно же, поздравляем весь ваш коллектив с наступающими праздниками. Желаем готовить так же вкусно, желаем процветания и успехов во всем. Пусть у вас будет больше благодарных клиентов, потому что вы их заслуживаете! Еще раз большое спасибо!
        </p>
      </div>
   </div>
  </div>
</section>
