<section class="steps-screen" id="steps">
  <div class="container">
    <div class="title">
      <h2>
        Этапы сотрудничества, <br>
        которые мы пройдем вместе с Вами:
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="steps-screen__item">
          <img src="img/step-1.svg" alt="">
          <p>
            Оформите заявку на обслуживание <br>
            или пригласите нас на тендер
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="steps-screen__item">
          <img src="img/step-2.svg" alt="">
          <p>
            Мы готовим и направляем Вам <br>
            коммерческое предложение
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="steps-screen__item">
          <img src="img/step-3.svg" alt="">
          <p>
            Встреча и демонстрация <br>
            наших объектов
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="steps-screen__item">
          <img src="img/step-4.svg" alt="">
          <p>
            Подписание договора
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="steps-screen__item">
          <img src="img/step-6.svg" alt="">
          <p>
            Реализация проекта по открытию <br>
            столовой «под ключ»
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="steps-screen__item">
          <img src="img/step-5.svg" alt="">
          <p>
            Оценка площадки, <br>
            разработка меню
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
