<section class="trasted" id="clients">
  <div class="container">
    <div class="title title_grey">
      <h2>
        Нам доверяют
      </h2>
    </div>
    <div class="trasted-slider">
      <div class="slide">
        <a href="#">
          <img src="img/trasted-1.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/trasted-2.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/trasted-3.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/trasted-4.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/63.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/62.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/65.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/64.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/66.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/67.jpeg" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/68.png" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/69.jpg" alt="">
        </a>
      </div>
      <div class="slide">
        <a href="#">
          <img src="img/70.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
