<section class="work">
  <div class="container">
    <div class="title">
      <h2>
        Что Вы получите, работая с нами?
      </h2>
    </div>
    <div class="work__wrapper">
      <div class="work__item">
        <p>
          Согласования с инстанциями и оформление <br>
          всей разрешительной документации
        </p>
      </div>
      <div class="work__item">
        <p>
          Лучшее по соотношению цена- <br>
          качество меню, адаптированное <br>
          под Ваши потребности
        </p>
      </div>
      <div class="work__item">
        <p>
          Подбор квалифицированного <br>
          персонала
        </p>
      </div>
      <div class="work__item">
        <p>
          Проектирование и запуск <br>
          столовой в кратчайшие сроки
        </p>
      </div>
      <div class="work__item">
        <p>
          Управление столовой <br>
          по стандартам HACCP
        </p>
      </div>
    </div>
    <div class="bg__image">
      <img src="img/work-center.png" alt="">
    </div>
    <div class="button button__work">
      <a href="#" class="form_open">
        Пригласить нас на тендер
      </a>
    </div>
  </div>
</section>
