{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" media="all" href="css/app.css"/>
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script src="js/app.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>
    <script>
      ymaps.ready(init);
      function init() {
        var myMap = new ymaps.Map('map', {
          center: [55.774107, 37.530885],
          zoom: 16
        });
        var myPlacemark = new ymaps.Placemark([55.774107, 37.530885], {
          hintContent: 'г. Москва, 2-й Хорошёвский проезд, дом 9, корпус 2',
          balloonContent: 'г. Москва, 2-й Хорошёвский проезд, дом 9, корпус 2'
        });
        myMap.geoObjects.add(myPlacemark);
        myMap.controls.remove('searchControl');
        myMap.controls.remove('routeButton');
        myMap.controls.remove('trafficControl');
        myMap.controls.remove('typeSelector');
        myMap.controls.remove('fullscreenControl');
        myMap.controls.remove('rulerControl');
        myMap.controls.remove('button');
      }
    </script>
    <!-- END scripts -->

  </body>
</html>
